@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.militaryGreenBackground {
    background-color: #6E8E59 !important;
}
.militaryGreenColor {
    color: #6E8E59 !important;
}

.militaryBrownBackground {
  background-color: #675645 !important;
}

.militaryBrownColor {
  color: #675645 !important;
}

.borderNone {
    border: none !important;
}
.formTextCustom {
    margin-top: .25rem;
    color: var(--bs-secondary-color);
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: baseline;
    gap: 10px;
    // float:right;
    // position: absolute;
    bottom: 7%;
  }
  
  .pageNumber {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pageNumber.active {
    font-weight: bold;
    color: #424756; /* Highlight active page */
  }
  
  .prev, .next {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      color: #6E8E59;
      cursor: pointer;
      padding: 8px 16px;
      border-radius: 20px;
      font-size: 10px;
      transition: all 0.2s ease;}


